module.exports = {
    // Microsoft Bot Framework App settings
    app: {
        'appId': '',
        'appPassword': ''
    },
    // Wechat Offical Account settings
    wechat: {
        'appId': '',
        'appSecret': '',
        'appToken': ''
    }
}